.portfolio__container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    
 
}

.portfolio__items{
    background: var(--color-bg-variant);
    padding: 1.3rem;
    border-radius:2rem ;
    border: 3px solid transparent;
    transition: var(--transistion);
    margin-bottom: 5rem;
    background-image: url('../../assets/polygon-scatter-haikei.svg');
    background-size: cover;

}

.portfolio__items:hover{
    border-color:var(--color-bg-variant) ;
    background:transparent;
    background-image: url('../../assets/polygon-scatter-haikei.svg');
    background-size: cover;
}   

.portfolio__items h3{
    margin: 0rem 0 0rem;
}
.portfolio__items h4{
    margin-left: .1rem;

    font-size: .8rem;
    color: var(--color-light);
    margin-bottom: .8rem;
}
.portfolio__link{
    display: flex;
    gap: 1rem;
    margin-bottom: 0rem;
}
video{
    width:100%;
    border: 3px solid var(--color-bg-variant);
    border-radius: 2rem;
}

/*mdeida*/
@media screen and (max-width: 1024px) {
    .portfolio__container{
       grid-template-columns: 1fr;
       gap:0;
       width: 50%;
    }
   
 }
 
