.container.contact__container{
    width: 58%;
    display: grid;
    grid-template-columns:30% 58%;
    gap:12%;
}

.contact__options{
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}
.contact__option{
    background:var(--color-bg-variant);
    padding: 1.2rem;
    border-radius: 1.2rem;
    text-align: center;
    border: 3px solid transparent;
    transition: var(--transition);
    background-image: url('../../assets/polygon-scatter-haikei.svg');
    background-size: cover;


}
.contact__option:hover{
    background: transparent;
    border-color:var(--color-primary-variant) ;
    background-image: url('../../assets/polygon-scatter-haikei.svg');
}

.contact__option-icon{
    margin-bottom: .5;
    font-size: 1.5rem;

}
.contact__option a {
    margin-top: .7rem;
   font-size:.9rem;
}

form {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}

input, 
textarea{
    width: 100%;
    padding: 1.5rem;
    border-radius: .5rem;
    background: transparent;
    
    border: 2px solid var(--color-primary-variant);
    resize: none;
    color: var(--color-white);
}

/*mdeida*/
@media screen and (max-width: 1024px) {
    #social__dissapear{
        display: none;
    }
 }
 
 /*mdeida*/
 @media screen and (max-width: 600px) {
    .send__message{
        margin-left: -.7rem;
       display: flex;
       
       

    }
    #email{
        display: flex;
        margin-bottom: -.5rem;
    }

    #phone__number{
        display: flex;
        margin-left: -.7rem;
        margin-bottom: -.5rem;
        
    }
     
 }